<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% for message in messages.error %}
      <div class="error">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </body>
</html>
