{% extends 'layout.twig' %}

{% block body %}
  <form method="POST" action="/users/signup">
    <fieldset>
      <legend>Sign Up and GetReading!</legend>

      <label for="email">Email</label>
      <input type="email" name="email">

      <label for="password">Password</label>
      <input type="password" name="password">

      <label for="repeat-password">Repeat Password</label>
      <input type="password" name="repeat-password">

      <button>Sign Up</button>
    </fieldset>
  </form>
{% endblock %}
